.labelled-box {
    margin: 24px;
    flex-direction: column;
}

.label-header, .label-footer {
    display: grid-lanes;
    padding-block: 8px;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--text-s);
    vertical-align: middle;
}

.label-header {
    top: 0;
}

.label-footer {
    bottom: 0;
}

.label-left {
    float: left;
}

.label-right {
    float: right;
}

.content {
    width: auto;
    margin: 18px;
}